@model GetEmployeeByIdQueryResult

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <label>Personel ID</label>
    <input type="text" class="form-control" asp-for="EmployeeID" />
    <br />
    <label>Personel Adı</label>
    <input type="text" class="form-control" asp-for="EmployeeName" />
    <br />
    <label>Personel Soyadı</label>
    <input type="text" class="form-control" asp-for="EmployeeSurname" />
    <br />
    <label>Personel Şehri</label>
    <input type="text" class="form-control" asp-for="EmployeeCity" />
    <br />
</div>